
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Email</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Send Email</h2>
        </div>
        <div class="form-wrapper">

            <form method="post" enctype="multipart/form-data" class="email-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send Email</button>
            </form>
        </div>
    </div>
</body>
</html>
